.my_nav{
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    background-color: rgb(225 225 225 / 87%) !important;
    backdrop-filter: blur(10px);
}

.main-header{
    background-image: url(https://images.unsplash.com/photo-1491841550275-ad7854e35ca6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80);
    background-position: center;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 100px;
}

.default-header{
    background-image: url(https://images.unsplash.com/photo-1491841550275-ad7854e35ca6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80);
    background-position: center;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 50px;
}
.header-text-holder, .subscribe-holder{
    text-align: center;
    color: white;
}

.default-header-text-holder{
    color: white;
}

.default-header-text-holder h1{
    font-size: 2em;
}
.subscribe_width{
    width: 466px;
}

.home-body-content, .default-body-content{
    padding-top: 50px;
    padding-bottom: 50px;
}

.default-body-content .list-group .list-group-item h3{
    font-size: 1.3em;
}

.default-body-content .list-group .list-group-item{
    margin-bottom: 12px;
}

.default-body-content .list-group .list-group-item:hover{
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.default-body-content .list-group a{
    color: black;
}

.home-body-content .my_card{
    margin-bottom: 25px;
    transition: 0.3s;
}

.my_card:hover{
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

/* default page subscribe button css */
.subscribe_button{
    width: 322px;
}

footer, .main-footer{
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: black;
    color: white;
}